<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>257689736152-1f2mto1j686u6ul948v6ivjphar6v60q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.257689736152-1f2mto1j686u6ul948v6ivjphar6v60q</string>
	<key>API_KEY</key>
	<string>AIzaSyDLyAecGAwg8B1m6SPxPs9nIpAksTtE0aw</string>
	<key>GCM_SENDER_ID</key>
	<string>257689736152</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.moneyfreedom</string>
	<key>PROJECT_ID</key>
	<string>free1s</string>
	<key>STORAGE_BUCKET</key>
	<string>free1s.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:257689736152:ios:259b6f320b87017d1918ad</string>
</dict>
</plist>